// Set up Styles

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

// General Styles

html {
	font-size: 62.5%;
}

body {
	font-family: 'Nunito', sans-serif;
	text-align: center;
	margin: 0;
}

.wrapper {
	max-width: 1050px;
	margin: 0 auto;
	width: 90%;
}

a {
	text-decoration: none;
	font-size: 1.8rem;
	color: #C0B283;
}

li {
	list-style: none;
}

h1, h2 {
	font-family: 'Poiret One', cursive;
	text-align: left;
	font-weight: 300;
	color: #555243;
}

h2 {
	font-size: 4.4rem;
	letter-spacing: .8rem;
}

p, a, h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #555243;
}

p {
	font-size: 1.8rem;
	line-height: 2;
}

// Header Styles

nav.dropdown {
	display: none;
}

.menu {
	display: none;
}

.exit {
	display: none;
}

.headerTop {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
	.wrapper {
		display: flex;
		justify-content: flex-end;
	}
}

.headerTop {
	nav {
		display: flex;
		align-items: center;
		padding: 0 10px;
		width: 50%;
		padding: 30px 0 10px 20px;
		ul {
			width: 100%;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-between;
			a {
				padding: 5px 0;
				color: white;
				font-size: 1.5rem;
			}
		}
	}
}

.headerTop.white {
	background: white;
	a {
		color: #555243;
		&::after {
			background: #555243;
		}
	}
}

.headerTop.transparent {
	background: transparent;
}

.headerTop.black {
	background: #313638;
	color: white;
}

header a::after {
	content:'';
	display: block;
	width: 0;
	height: 1px;
	background: white;
	margin-top: 10px;
	transition: width .5s;
}

header a:hover::after {
	width: 100%;
}

.headerContent {
	background: url(../assets/background_3.JPG);
	height: 100vh;
	background-size: cover;
	background-position: top right;
	.wrapper {
		height: 100%;
		display: flex;
		align-items: center;
	}
}

.title {
	background: white;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	h1 {
		font-size: 7.5rem;
		margin-bottom: 10px;
	}
	h3 {
		letter-spacing: .7rem;
		font-size: 1.6rem;
		line-height: 2;
		text-align: left;
	}
	svg {
		height: 10px;
		fill: white;
	}
}

// About Styles

.about {
	padding: 100px 0 0;
	transition: right 1s;
	text-align: left;
	h2 {
		width: 100%;
	}
}

.aboutContent {
	display: flex;
	flex-direction: row-reverse;
	.textbox {
		flex: 3 0 100px;
		padding-top: 50px;
		p {
			margin: 3px;
			padding: 10px 0;
		}
	}
	figure {
		flex: 2 0 100px;
		margin: 250px 0 0 100px;
		img {
			width: 100%;
		}	
	}
}

// Works Styles

.works {
	padding: 100px 0 100px;
}

.worksTop {
	h2 {
		margin: 0 0 80px;
	}
	.textbox {
		padding: 0 0 20px 30%;
		text-align: right;
		p {
			text-align: right;
			padding-bottom: 50px;
			a {
				font-size: 1.4rem;
				padding: 0;
				text-decoration: underline;
			}
		}
		ul {
			display: flex;
			justify-content: space-between;
			padding: 0;
			li {
				cursor: pointer;
			}
			a {
				font-size: 1.4rem;
				padding-bottom: 5px;
				letter-spacing: .3rem;
			}
		}
	}
}

.gallery {
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
	figure {
		position: relative;
		max-height: 1000px;
		cursor: pointer;
		transition: max-height 2s ease-out;
		&:hover .overlay {
			opacity: 1;
		}
		.overlay {
			position: absolute;
			background: rgba(224,223,213,0.7);
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
			opacity: 0;
			padding: 10px;
			transition: opacity .5s;
			p {
				font-size: 7rem;
				color: white;
				padding: 0px 10px;
				margin: 5px;
			}
			}
		}
	}
	figure.full {
		width: 100%;
		margin: 5px;
		img {
			width: 100%;
			display: block;
		}
	}
	figure.half{
		width: calc(50% - 10px);
		margin: 5px;
		img {
			width: 100%;
			display: block;
		}
	}
	.column {
		display: flex;
		flex-direction: column;
		width: calc(50% - 10px);
		margin: 0 5px;
		figure {
			width: 100%;
			margin: 5px 0;
		}
	}


.gallery figure.hide {
	max-height: 0;
	overflow: hidden;
	margin: 0;
	opacity: 0;
	transition: max-height 1s cubic-bezier(.2,.74,.49,1), margin 1s cubic-bezier(.59,0,.49,1), opacity 1s cubic-bezier(.59,0,.49,1);
}

.textbox nav a::after {
	content:'';
	display: block;
	width: 0;
	height: 1px;
	background: black;
	margin: 5px 0;
	transition: width .5s;
}

.textbox nav a:hover::after {
	width: 100%;
}

a.underline {
	border-bottom: 1px solid black;
}

.modal {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.9);
}

.modal.modalVisible {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modalContent {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 90%;
		img {
		object-fit: contain;
		width: 100%;
		max-height: 80vh;
	}
}

.modalText {
	text-align: left;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.modalTitle {
	width: 100%;
	margin: 0;
}

.modal p {
	margin: 0;
}

.modalTitle, .modalPrice, .modalDimensions {
	color: #D3D3D3;
}

.currentImage {
	display: block;
	width: 100%;
	max-width: 800px;
}

.exitModal {
	position: absolute;
	top: 20px;
	right: 15px;
	cursor: pointer;
	width: 45px;
}

.arrow{
	margin: 0 20px;
	cursor: pointer;
}

.arrow img {
	width: 40px;
}

// Process Styles

.process {
	background: #313638;
	padding: 100px 0;
	.wrapper {
		h2 {
			margin-bottom: 100px;
			color: white;
		}
	}
}

.processContent {
	h3 {
		font-size: 3.5rem;
		margin-top: 0;
		color: white;
		letter-spacing: .7rem;
	}
	p {
		color: white;
	}

	p.number {
		font-size: 1.6rem;
		margin-bottom: 0;
		font-family: 'Josefin Slab', serif;
		color:white
	}
	section {
		padding: 20px 20px;
		position: relative;
	}
	section:nth-child(odd) {
		margin-right: 50%;
		border-left: 1px solid white;
		text-align: left;
	}
	section:nth-child(even) {
		border-right: 1px solid white;
		margin-left: 50%;
		h3, p {
			text-align: right;	
		}
	}
}

.processContent section:nth-child(odd)::after {
	content:'';
	display: block;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 100%;
	background: white;
	transition: right .5s;
}

.processContent section:nth-child(odd):hover::after {
	right: 0;
}

.processContent section:nth-child(even)::after {
	content:'';
	display: block;
	height: 1px;
	position: absolute;
	overflow: hidden;
	background: white;
	bottom: 0;
	right: 0;
	left: 100%;
	transition: left .5s;
}

.processContent section:nth-child(even):hover::after {
	left: 0;
}

// Contact Styles

.contact {
	padding: 100px 0;
	p  {
		margin: 0;
		text-align: right;
	}
	.left {
		padding-top: 50px;
		p {
			text-align: left;
		}
	}
}

form {
	display: flex;
	flex-direction: column;
	width: 50%;
	input {
		border: none;
		border-left: 1px solid black;
		margin: 10px 0;
		padding: 20px;
		display: block;
		width: 100%;
		font-family: 'Raleway', sans-serif; 
		font-size: 1.4rem; 
	}
	textarea {
		border: none;
		border-left: 1px solid black;
		margin: 10px 0;
		padding: 20px;
		display:block;
		width: 100%;
		font-family: 'Raleway', sans-serif; 
		font-size: 1.4rem;
	}
}

.container::after {
	content:'';
	display: block;
	width: 0;
	height: 1px;
	background: black;
	margin-bottom: 10px;
	transition: width .5s;
	position: relative;
	top:-10px;
	left: 0px;
}

.container:hover::after {
	width: 100%;
}

::placeholder {
	font-family:'Raleway', sans-serif; 
	font-size: 1.6rem;
}

input[type=submit] {
	font-family: 'Raleway', sans-serif; 
	font-size: 1.4rem;
	transition: all .3s;
	text-align: left;
	background: white;
	&:hover {
		background: #C1C070;
		color: white;
		border-left: none;
	}
}

@media (max-width: 835px) {
	.gallery figure .overlay p {
		font-size: 3.5rem;
	}
}

@media (max-width: 767px) {
	.title {
		width: 60%;
		h1 {
			font-size: 5.5rem;
		}
		h3 {
			font-size: 1rem;
		}
	}

	h2 {
		font-size: 4rem;
	}

	.headerTop nav {
		display: none;
	}
	.menu {
		display: block;
		position: fixed;
		top: 0;
		padding: 20px 20px;
		font-size: 2rem;
		z-index: 2;
		right: 0;
		left: 0;
		text-align: right;
	}

	.menu.transparent {
		background: transparent;
		color: white;
	}

	.menu.white {
		background: white;
		color: #555243;
	}

	.menu.black {
		background: #313638;
		color: white;
	}

	.menu.disappear {
		display: none;
	}

	.exit {
		display: block;
		opacity: 0;
		color: #555243;
		z-index: -1;
		width: 35px;
		padding: 20px  5px;
		position: fixed;
		transition: opacity .4s ease-out;
	}

	.exit.visible {
		opacity: 1;
		z-index: 3;
	}

	nav.dropdown {
		display: block;
		background: rgba(255, 255, 255, 0.9);
		position: fixed;
		right: -100%;
		top: 0;
		width: 100%;
		bottom: 0;
		z-index: 2;
		transition: right 0.4s ease-out;
		ul {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			padding: 0;
			height: 100%;
			li {
				a {
					color: #555243;
					font-size: 2.5rem;
				}
			}
		}
	}

	nav.dropdown.displayMenu {
		right: 0;	
	}

	.about {
		padding: 65px 0;
	}

	.aboutContent {
		display: block;
		padding-top: 20px;
		.textbox {
			padding: 0;
		}
		figure {
			float: right;
			margin: 13px 0 30px 30px;
			img {
				height: 350px;
				width: auto;
			}
		}
	}

	.works {
		padding: 65px 0;
	}

	.worksTop .textbox {
		padding-left: 0;
	}

	.gallery {
		padding: 20px 0;
		figure {
			.overlay {
				a::after {
					width: 100%;
				}
			}
		}
	}

	.modalTitle {
		font-size: 2.8rem;
	}

	.process {
		padding: 65px 0;
		.wrapper {
			h2 {
				margin-bottom: 76px;
			}
			h3 {
				font-size: 3rem;
			}
		}
	}

	.processContent section:nth-child(odd) {
		margin-right: 25%;
	} 

	.processContent section:nth-child(even) {
		margin-left: 25%;
	}

	input[type=submit] {
		background: white;
		color: black;	
	}

	.contact {
		padding: 65px 0;
	}
	
	form {
		width: 100%;
	}

}

@media (max-width: 480px) {
	a, p {
		font-size: 1.5rem;
	}

	.gallery {
		figure.half {
			width: 100%;
		}
		.column {
			width: 100%;
		}
	}	

	.modalTitle {
		font-size: 1.5rem;
	}

	.modalText {
		flex-direction: column-reverse;
		align-items: flex-start;
	}

	.worksTop .textbox ul a {
		font-size: 1.2rem;
		letter-spacing: normal;
	}
	.processContent section:nth-child(odd) {
		margin-right: 0;
	} 

	.processContent section:nth-child(even) {
		margin-left: 0;
	}

	.aboutContent {
		figure {
			float: none;
			margin: 10px;
			display: flex;
			justify-content: center;
		}
	}


}

@media (max-height: 414px) {
	.modalContent{
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	}
	.modalText {
		flex-direction: row-reverse;
		p {
			text-align: left;
			font-size: 1.5rem;
		}
		.modalTitle {
			font-size: 2rem;
			width: auto;
		}
	}
}


